@keyframes scrollText{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg: #fefae0;
    --primary: #606c38;
    --primary-darker: #283618;
    --secondary: #dda15e;
    --secondary-darker: #784c19;
    --light-gray: #f0f0f0;
    --white: #fff;
    --black: #222;
    --shadow: rgb(0,0,0, 0.3);
    --shadow-light: rgb(0,0,0, 0.15);

    --spring-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --spring-transition-slow: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --spring-transition-slower: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
}

.header{
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 999;

    box-shadow: rgb(0,0,0,0.3) 0px 4px 10px;
}

.header .container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.banner img {
    object-fit:cover;
    width: 148px;
    height: 40px;

    padding: 0px 30px;
    filter: drop-shadow(var(--shadow) 0px 0px 8px);
    filter: drop-shadow(#000 0px 0px 4px);

    transform: rotate(-20deg);
}

.banner p {
    font-weight: 350;
}

.banner .cupom {
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.logo {
    margin-top: 15px;
    transform-origin: center;
    height: 100px;
    filter: drop-shadow(var(--shadow-light) 0px 0px 5px);
    transition: var(--spring-transition);
    cursor: pointer;
}

.logo:hover {
    filter: drop-shadow(var(--shadow) 0px 0px 10px);
    scale: 0.9;
}

.navbar {
    margin: 0px 20px;
}

.search-content {
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    font-size: 16px;
    outline: none;
    box-shadow: var(--shadow-light) 0px 0px 5px;
    min-width: 360px;

    border: var(--secondary) solid 1px;

    transition: var(--spring-transition);
}

.search-input:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--secondary) solid 0px;
    background-color: var(--bg);
    font-size: 14px;
    letter-spacing: 2px;
}

.sidebar {
    background-color: var(--primary);
    border: var(--primary) solid 1px;
    border-radius: 0px 25px 25px 40px;
    width: 250px;

    margin-right: 20px;
}

.search-option-hoverzone{
    margin: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    transition: var(--spring-transition);
}

.search-options {
    font-size: 12px;
    background-color: var(--secondary);
    border-radius: 20px;
    cursor: pointer;
    padding: 7px 14px;
    width: 100%;
    transition: var(--spring-transition);
}

.search-options i {
    margin-right: 5px;
    margin-bottom: 2px;
}

.search-option-hoverzone:hover .search-options{
    background-color: var(--bg);
    letter-spacing: 1px;
    font-size: 11px;
    padding: 6px 13px;
}

.search-option-hoverzone:hover{
    padding: 3px 0px;
}

.search-filter-separator {
    padding: 0.5px;
    margin: 0px 10px;
    background-color: var(--primary-darker);
}

.search-filter-button {
    font-size: 12px;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 7px 14px;
    width: auto;
    display: flex;
    margin: 10px;
    cursor: pointer;

    white-space: nowrap;
    align-items: center;

    position: relative;

    transition: var(--spring-transition);
}

.search-filter-button p{
    margin-right: auto;
}

.search-filter-button i {
    margin-right: 5px;
    margin-bottom: 2px;
}

.down-arrow {
    position: absolute;
    right: 7px;
    bottom: 7px;
}

.search-filter-options{
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 170px;
    box-shadow: rgb(0, 0, 0, 0.8) 0px 0px 5px;

    border-radius: 15px;
    z-index: 1;
}

.search-filter-options a{
    color: var(--black);
    padding: 7px 14px;
    text-decoration: none;
    display: block;

    justify-content: start;
    transition: var(--spring-transition);
    transition: background-color 0.2s;

    border-radius: 15px;
}

.search-filter-options a:hover{
    background-color: var(--secondary);
    transition: var(--spring-transition);
    letter-spacing: 1px;
    font-size: 11px;
}

.search-filter-button-hover:hover .search-filter-button{
    background-color: var(--bg);
    letter-spacing: 1px;
    font-size: 11px;
    padding: 6px 13px;
}

.search-filter-button:hover .search-filter-options{
    display: block;
}

.arrow {
    float: right;
}

.inputTyped {
    scale: 0.99 0.96;
    transform-origin: right;
}

.inputTypedBtn {
    scale: 0.99 0.96;
    transform-origin: left;
}

.search-btn {
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 0px 20px 20px 0px;
    margin: 0px 0px;
    cursor: pointer;
    box-shadow: var(--shadow-light) 0px 0px 5px;

    border: var(--secondary) solid 1px;

    transition: var(--spring-transition);
}

.search-btn:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--secondary) solid 0px;
    background-color: var(--bg);
    font-size: 14px;
    letter-spacing: 2px;
}

.menu-btn {
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0px 3px;
    cursor: pointer;
    box-shadow: var(--shadow) 0px 0px 5px;
    transform-origin: bottom;

    border: var(--secondary) solid 1px;

    transition: var(--spring-transition);
}

.menu-btn:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--secondary) solid 0px;
    background-color: var(--bg);
    font-size: 14px;
    letter-spacing: 2px;
    margin: 1px;
}

.user-space {
    margin-left: 20px;
}

.cart-btn {
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 20px 0px 0px 20px;
    margin: 0px 0px;
    cursor: pointer;
    box-shadow: var(--shadow-light) 0px 0px 5px;

    border: var(--secondary) solid 1px;

    transition: var(--spring-transition);
}

.cart-btn:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--secondary) solid 0px;
    background-color: var(--bg);
    font-size: 14px;
    letter-spacing: 2px;
}

.account-btn {
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 0px 20px 20px 0px;
    margin: 0px 0px;
    cursor: pointer;
    box-shadow: var(--shadow-light) 0px 0px 5px;

    border: var(--secondary) solid 1px;

    transition: var(--spring-transition);
}

.account-btn:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--secondary) solid 0px;
    background-color: var(--bg);
    font-size: 14px;
    letter-spacing: 2px;
}

.main {
    padding: 30px 0px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0px 20px 20px 20px;
}

.products-grid-small {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0px 20px 20px 0px;
}

.product-card-back {
    background-color: var(--primary);
    border-radius: 30px;
}

.product-card-back.small {
    border-radius: 25px;
}

.product-card {
    background-color: var(--white);
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    transition: var(--spring-transition);
    border: 1.5px solid var(--primary);
}

.product-card.small {
    border-radius: 25px;
    padding: 15px;
}

.product-image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;

    border: 1.5px solid var(--primary);
    box-shadow: var(--shadow) 0 6px 10px;
}

.product-image.small {
    height: 100px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 8px;
    height: 24px;
    color: var(--black);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-title.small {
    font-size: 14px;
}

.product-price {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--black);
}

.product-price.small {
    font-size: 18px;
}

.product-discount {
    font-size: 14px;
    font-weight: 700;
    color: #748d22;
}

.product-discount.small {
    font-size: 12px;
    font-weight: 700;
    color: var(--black);
}

.product-card:hover {
    transform: translateY(-6px);
    scale: 1 0.98;
    box-shadow: var(--shadow) 0 6px 10px;
}

.product-card.small:hover {
    transform: translateY(-3px);
    scale: 1 0.98;
    box-shadow: var(--shadow) 0 6px 10px;
}

.hero {
    background-image: url(./img/hero.png);
    background-size: cover;
    background-position: bottom;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    color: var(--white);
    margin-top: 80px;
    text-shadow: #000 0px 0px 10px;
    filter: drop-shadow(#000 0px 0px 5px);
    font-weight: 700;
}

.hero h1 span{
    font-size: 48px;
    color: var(--secondary);
    font-weight: 700;
}

.hero p {
    font-size: 28px;
    margin-top: 12px;
    color: var(--white);
    text-shadow: #000 0px 0px 5px;
    filter: drop-shadow(#000 0px 0px 5px);
    font-weight: 400;
}

.dynamic-text {
    transition: var(--spring-transition-slow);
    text-align: left;
    color: var(--secondary);
    font-weight: 400;
}

.fade-out{
    transition: 0.5s ease-in-out;
    opacity: 0;
    letter-spacing: -25px;
    font-weight: 100;
    text-shadow: #000 0px 0px 0px;
}

.fade-in{
    transition: var(--spring-transition-slow);
    opacity: 1;
    letter-spacing: normal;
    font-weight: 600;
    text-shadow: #000 0px 0px 5px;
}

.card {
    margin-bottom: 40px;
    transition: var(--spring-transition);
}

.card:hover {
    scale: 1.01 0.99;
}

.card-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px 10px 0px 20px;
    padding: 15px 0px;
}

.card-title h2 {
    font-size: 24px;
    color: var(--black);
}

.card-text i{
    margin-top: 2px;
    margin-right: 10px;
}

.card-btn i{
    margin-left: 5px;
    margin-top: 1px;
}

.card-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0px 15px;
}

.clear-btn{
    font-size: 18px;
    border-radius: 25px;
    color: var(--white);
    border: 1px solid var(--primary);
    background-color: var(--primary);
    padding: 5px 15px;
    align-items: center;
    display: flex;

    cursor: pointer;
    transition: var(--spring-transition);
}

.clear-btn:hover {
    box-shadow: var(--shadow) 0px 0px 10px;
    border: var(--primary) solid 2px;
    font-size: 14px;
    letter-spacing: 3px;
}

.container .card {
    background-color: var(--white);
    border-radius: 40px;
    padding: 0px;
    box-shadow: var(--shadow) 0px 5px 10px;
}

.store-info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
}

.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: var(--black);

    transition: var(--spring-transition);
}

.store-info i {
    background-color: var(--bg);
    border-radius: 20px;
    padding: 14px;
    font-size: 26px;

    margin-bottom: 16px;
}

.store-info p{
    font-size: 10px;
    color: var(--black);
    font-weight: 400;
}

.store-info:hover {
    scale: 0.9;
    letter-spacing: 1.5px;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    margin-top: 20px;
}

.review-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;

    background-color: var(--bg);
    border-radius: 20px;

    font-size: 16px;
    color: var(--black);

    transition: var(--spring-transition);
}

.review-info .stars {
    display: flex;
    flex-direction: row;
}

.review-info i {
    padding: 8px 0px;
    font-size: 26px;

    margin-bottom: 8px;
}

.review-info p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.review-label {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.review-label img {
    margin-bottom: 2px;
}

.review-label p {
    margin: 0px 5px;
    font-weight: 400;
    font-size: 14px;
}

.footer {
    background-color: var(--white);
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid var(--primary);
}

.footer p{
    color: #777;
    font-size: 14px;
}

